.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position:absolute;
  width: 36px;
  height: 20px;
  left: 36px;
  top: 20px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(0, 0, 0);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #000000;
  
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */


/* Individual item */
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}


.burger-nav{
  display: flex;
  flex-direction: column;
  color: #fff;
  position: fixed;
  
}

.menu-item{
  padding-bottom: 25px;
  font-size: 25px;
  color: #fff;
  display: inline-block;
  z-index: 3000;
}




.link{
  color: #fff;
  font-family: 'Gruppo', cursive;
}

.flex a{
  color: #fff;
}

.navs-wrapper{
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 4rem;
}




/*Media queries  ----------MOBILE----------*/
@media only screen 
and (min-device-width : 280px) 
and (max-device-width : 540px) {
  /*Nav*/

  .hide{
    display: none;
  }
  .hidden a{
    display: none;
  }

  #nav ul li{
    display: none;
  }

  .logo h2{
    font-size: 19px;
    text-align: center;
    margin: 0 auto;
    transform: translateX(30%);
  }

  #nav{
    width: 100%;
    text-align: center;
  }

  .nav-wrapper{
    padding: 0;
    margin: 0;
    z-index: 0;
  }


  /*Home*/
 .home-content{
  justify-content: center;
  padding: 0;
  text-align: center;
  align-items: center;
 }

.first-container{
  width: 70%;
  height: calc(100% -8rem);
  margin: 0 auto;
  padding-left: 0;
  padding-top: 20px;
}

  .subtitle{
    font-size: 10px;
    text-align: center;
  }

  .btn-hero{
    margin-top: 20px !important;
  }

  .title-name{
    font-size: 50px;
    text-align: center;
    line-height: 4rem;
    padding: 0;
  }

  .projects-box{
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: black;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .hide2{
    display: block;
  }

  .ilustration-container2{
      width: 50%;
      height: auto;
  }

  .ilustration2{
    height: 100%;
    width: 100%;
  }

  .btn-home{
    width: 150px !important;
  }

  /*About*/
  .purple-bubble{
    width: 100%;
    left: 0;
  }

  .about-wrapper{
    left: 0;
    width: 100%;
    height: 210vh;
  }

   .about-container{
    width: 100%;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    
   }

   .paragraph p{
    padding: 0;
    font-size: 10px;
   }

   .paragraph h3{
    padding: 8px 0;
   }

   .about-1{
    width: 90%;
   }

   .about-2{
    width: 90%;
   }

   .download-box{
    width: 150px;
    font-size: 10px;
    margin: 15px auto;
    padding: 3px 5px;
   }

   .process-images{
    flex-direction: column;
   }

   

   .process-item{
    width: 100%;
   }

   .process-item h3{
    padding: 15px 0;
    font-size: 15px;
   }

   .process-icon{
    width: 30%;
    margin-top: 10px;
   }

   .marquee-background{
    height: 50px !important;
   }

   .skill-icon{
    height: 40px;
    width: 40px;
   }

   .marquee-group{
    gap: 2rem !important;
    animation: moveTitleMobile 7s linear infinite !important;
   }

   .marquee{
    gap: 2rem !important;
   }
 
   .flex-reverse{
    display: flex;
    flex-direction: column-reverse;
   }

   .line{
    display: block;
   }

   .project-icons{
    border: none;
   }

   .second-title{
    margin-top: 29px;
   }

   .project-icons{
    border-bottom: none !important;
   }

   /* Projects*/
   .projects-wrapper{
    top: 290%;
    left: 0;
    width: 100%;
   }

   .projects-container{
    grid-template-columns: 95%;
    gap: 1rem;
   }
   
   .projects-box{
    height: 50vh;
   }
   .project-title{
    font-size: 18px;
   }

   .projects-box{
    flex-direction: column !important;
   }

   .img-box{
    margin-left: 0;
   }

   .img-box img{
    width: 90%;
   }

   .box-effect::before{
    width: 180% !important;
    height: 60% !important;
   }

   .linksBox a{
    font-size: 15px;

   }

   .description {
    font-size: 10px !important;
  }

  .technologies{
    font-size: 9px !important;
    margin: 0 auto;
    padding: 0;;
  }

  .projects-info h3 {
    font-size: 18px;
  }
  
  .projects-info p {
    font-size: 10px;
  }

    
  .linksBox{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .linksBox a{
    font-size: 15;
  }
  
  /*Contact*/

  #contact{
   flex-direction: column;
  }

  .section-title{
    font-size: 30px !important;
  }

  .contact-box-1{
    width: 100%;
    height: 60% !important;
  }

  .contact-box-2{
    width: 100%;
    padding-top: 10px;
  }

  .box-wrapper{
    width: 90%;
    margin: 20px auto;
    height: 60%;
  }

  #contact-form{
    padding: 30px 14px;
  }
 #contact-form label{
  padding: 10px 0;
 }

 .flex label{
  padding: 10px;
  font-size: 15px;;
}

#contact input{
  width: 320px;
  height: 20px;
  padding: 0 5px;
 }

 .section-title{
  font-size: 35px;
 }

 .text-content{
  font-size: 15px;
 }


#contact textarea{
  width: 320px;
  height: 80px;
 }

 #footer{
    font-size: 10px;
 }

 #footer{
    display: block;
 }

 .circle-wrapper{
  bottom: 6% !important;
  right: 3% !important;
 }

 .bm-burger-button{
  display: block;
}

.menu-item{
  display: inline-block;
  color: #fff;
}
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 540px) {
  
}

/* Ipads, Tablets */

@media only screen 
and (min-device-width : 541px) 
and (max-device-width : 1200px) {
   
 .hide{
  display: none;
 }

 .email{
  display: none !important;
 }

 /*Nav*/
 #nav{
  width: 100%;
 }

 /*Home*/
 .home-content{
  justify-content: center;
  padding: 0;
  text-align: center;
  align-items: center;
 }

 .first-container{
  width: 70%;
  height: calc(100% -8rem);
  margin: 0 auto;
  padding-left: 0;
  padding-top: 50px;
}

 .subtitle{
  font-size: 19px;
  text-align: center;
}

.title-name{
  font-size: 70px;
}
 .hide2{
  display: block;
 }

 .ilustration-container2{
  width: 70%;
  height: auto;
}

.ilustration2{
height: 100%;
width: 100%;
}

.nav-2{
  display: none;
}

.btn-home{
  
  margin-top: 30px !important;
}

.text-content{
  font-size: 19px;
}

/* About*/
.purple-bubble{
  width: 100%;
  left: 0;
}

.about-wrapper{
  left: 0;
  width: 100%;
  height: 210vh;
}

 .about-container{
  width: 100%;
  flex-direction: column;
  height: 40vh;
  align-items: center;
 }
  .about-1{
    width: 80%;
   }

   .about-2{
    width: 80%;
   }

   .process-images{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
   }

   .process-item{
    width: 100%;
    margin: 50px 0
   }

   .process-item h3{
    padding-top: 10px;
   }

   .project-icons{
    border-bottom: none !important;
   }

   
   .flex-reverse{
    display: flex;
    flex-direction: column-reverse;
   }
   
   /*Projects*/
   .projects-wrapper{
    top: 240%;
    left: 0;
    width: 100%;
   }

   .projects-container{
    grid-template-columns: 90%;
    gap: 1rem;
   }

   .projects-box{
    height: 65vh;
   }

   .box-effect::before{
    width: 180% !important;
    height: 70% !important;
   }

   /*Contact*/
   #contact{
    flex-direction: column;
   }
 
   .contact-box-1{
    width: 100%;
    height: 60% !important;
  }

  .contact-box-2{
    width: 100%;
    padding-top: 10px;
  }

  #footer{
    font-size: 20px;
 }

 #footer{
    display: block;
 }

 .circle-wrapper{
  bottom: 4% !important;
  right: 3% !important;
 }

 

}


@media only screen 
and (min-device-width : 541px) 
and (max-device-width : 768px) {

  /*Home*/
.subtitle{
  font-size: 15px;
}

.title-name{
  font-size: 70px;
}

.text-content{
  font-size: 15px;
}

  .ilustration-container2{
    width: 70%;
    height: auto;
  }
}
