body {
  margin: 0;
 
  font-family: 'Audiowide', cursive;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Nav*/
#nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: #7f0ed5;
    background-color: black;
}

.title_container h1{
  color: #7f0ed5 !important;
}

 li{
  list-style: none;
 }

 a{
  text-decoration: none;
  color:rgb(255, 255, 255);
 }

 #nav ul li{
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  color:rgb(255, 255, 255)
 }

 #nav ul li a:hover{
  color:rgb(122, 86, 206);
 }

 .active{
  color:  #7f0ed5
 }

 

 /* Home styles*/
 #home{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
 }

 
 .section-title{
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  color: #fff;
  font-family:'Times New Roman', Times, serif;
 }

 
 .line{
  width: 210px;
  height: 1px;
  background-color:rgb(1, 94, 255);
  margin: 20px auto;

 }

 .text-container{
  width: 60%;
  margin: 0 auto;
 }
 .text-content{
  padding-top: 25px;
  color: rgb(255, 255, 255);
  font-size: 25px;
 }

 .main-photo-container img{
    width: 350px;
 }

 /*Footer*/
 #footer{
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 100%;
  color: #fff;
  padding: 20px;
  
 }

 .icons-container{
  padding-left: 10px;
 }

 .icons-container a{
  padding-left: 10px;
 }

 .icons-container a:hover{
  color:rgb(114, 19, 186)
 }

 /*Contact Page*/
 #contact{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 30px;
  background-color: rgb(0, 0, 0);
  height: 100vh;
 }

 .contact-wrapper{
  background-color: black;
 }

 #contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .flex{
  display: flex;
  flex-direction: column;
 }

 .flex label{
   color:rgb(111, 32, 154);
   padding: 10px;
   font-size: 20px;;
 }

 #contact input{
  width: 500px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
 }
 
 #contact textarea{
  width: 500px;
  height: 80px;
  border-radius: 5px;
  outline: none;
  border: none;
 }

#contact button{
  margin-top: 25px;
  padding: 8px 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgb(194, 102, 200);
  border: 1px rgb(194, 102, 200) solid;
  border-radius: 15px;
}

#contact button:hover{
  background-color:rgb(194, 102, 200);
  color: #fff;
}

.error-text{
  padding-top: 20px;
  color:rgb(100, 28, 108);
}

/* Projects page*/

#portfolio{
  background-color: black;
}

.projects-container{
  display: grid;
  grid-template-columns: 100%;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-box{
  align-items: center;
  width: 100%;
  height: 45vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.img-box{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
 
}

.projects-info{
  width: 90%;
  height: 100%;
  margin: 5px;
 
}

.project-description h3{
  padding: 2px 0;
  font-size: 50px;
}

.project-description p{
  font-size: 20px;
  padding: 10px 0;
}

.linksBox{
  padding-top: 60px;
}

.linksBox a{
  color: #7f0ed5;
  padding-right: 20px;
}


.linksBox a:hover{
  color:rgb(122, 86, 206);
}


.img-box img{
    width: 100%;
    height: 98%;
    object-fit:cover;
    border-radius: 16px;
}

/*Resume*/

.skillsBox{
  width: 40%;
  margin: 0 auto;
  margin-top: 150px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillsBox h3{
  padding-bottom: 20px;
  font-size: 25px;
}

.download-box{
  margin: 0 auto;
  margin-top: 100px;
  width: 230px;
  background-color:rgb(103, 19, 145);
  text-align: center;
  text-align: center;
  border-radius: 18px;
}

.download-box:hover{
  background-color:rgb(121, 54, 155);
}

.download-box h3{
  padding: 7px 10px;
  color: #fff;
}


